.games-container {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}

.game {
  display: inline-block;
  width: 225px;
  max-width: 100%;
  margin: 3rem auto;

  .card1 {
    transform: rotate(-10deg);
    display: inline-block;
    margin-right: -10px;
  }

  .card2 {
    transform: rotate(10deg);
    display: inline-block;
    margin-left: -10px;
  }
}
