@import 'base';
@import '~bootstrap/scss/bootstrap.scss';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Mulish', sans-serif;
  background: #555 url("assets/noise.png");
  text-shadow: 0 1px 1px #000;
}

body {
  padding: 2rem 1rem;
}

h1, h2, h3, h4, footer {
  font-family: 'Cinzel Decorative', sans-serif;
  font-weight: bold;
}

hr {
  border-color: rgba(255,255,255, 0.25);
  margin: 30px 0;
}

a, a:active, a:link {
  color: #c6f9ff;
  transition: 0.2s;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

a, button {
  font-family: 'Muli', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
