.card {
  display: inline-block;
  width: 110px;
  height: 158px;
  border-radius: 9px;
  position: relative;
  border: 2px solid #fff;
  margin: 5px;
  background: #fff;

  transition: 0.2s;
  transform-style: preserve-3d;
  backface-visibility: hidden;

  &:hover {
    scale: 1.05;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
  }
}

.red-card {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 158px;
  border-radius: 9px;

  &:before {
    content: '';
    border: 3px solid rgba(255,255,255,0.5);
    border-radius: 9px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
    background: #C00;
    width: 110px;
    height: 158px;
  }
}

.flipped {
  @extend .card;
  transform: rotateY(180deg);
}

.front {
  background: url('./assets/deck.jpg') no-repeat;
  background-size: 1462px 630px;
  background-position: -3px -4px;
  width: 110px;
  height: 156px;
  box-shadow: 0 0 2px #999;
  border-radius: 9px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.back {
  background: #fff url('./assets/back.png') no-repeat;
  background-size: 100%;
  display: inline-block;
  width: 110px;
  height: 156px;
  box-shadow: 0 0 2px #999;
  border-radius: 9px;
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
}
