.app-game {
  position: static;

  .header {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    white-space: nowrap;

    h1 { position: relative; top: -1rem; margin: 0 -0.5rem; color: antiquewhite; }
  }

  .filligre {
    fill: #A90;
    top: 10px;
    width: 80px;
  }

  .flip-h {
    transform: scale(-1, 1);
  }

  .game-info {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;

    .options { margin-left: auto; }
    .btn { margin-left: 0.5rem; }
  }

  .hand {
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.75);
    padding: 30px 10px 10px 10px;
    border-radius: 20px;
    margin: 15px 0;
    background: rgba(0, 0, 0, 0.1);

    .btn {
      margin: 10px 15px;
      min-width: 150px;
    }

    .hand-values {
      .value:after { content: ', ' }
      .value:last-child:after { content: '' }
      .busted { opacity: 0.5; text-decoration: line-through; }
    }
  }

  .card-shoe {
    position: fixed;
    top: 12rem;
    left: 4rem;
    overflow: visible;
    width: 110px;
    transition: 0.4s;

    &.last-game {
      mix-blend-mode: screen;
    }

    &.active {
      opacity: 1;
    }

    .shoe-cards {
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: nowrap;
      align-content: end;
      //transform: rotateX(1.1turn);
    }

    .hand-card, .red-card { image-rendering: crisp-edges; top: 0; left: 0; scale: 0.6; margin: 0; transform: rotate(90deg); }
    .hand-card { height: 2px; }
    .red-card { height: 3px; left: 1px; top: 3px; }
    .back-half { height: 1px; }

    &.shoe-large {
      .hand-card, .red-card { scale: 0.3; }
    }

    @media (max-width: 1300px) {
      left: 2rem;
      .hand-card { height: 1px; }
    }

    @media (max-width: 900px) {
      left: -2.4rem;
      .hand-card { height: 1px; }
    }
  }

  .deck-options {
    font-size: 2rem;

    .btn { margin-left: 0.5rem; }

    .deck-total-btn {
      background: none;
      border: none;
      color: #fff;
      margin: 0 1rem;
    }
  }

  .btn-rules {
    min-width: 0 !important;
    float: right;
  }

  .hand-card {
    display: inline-block;
  }

  .card-hit {
    display: inline-block;
    position: relative;
    padding: 0;
    border: none;
    background: none;
    margin-left: 1rem;
    scale: 0.9;

    .hand-card { opacity: 0.25; margin: 4px 2px 0 5px; transition: 0.2s; }
    .overlay {
      z-index: 1;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 3px dashed rgba(255,255,255,0.8);
      color: #fff;
      font-size: 1.5rem;
      border-radius: 10px;
      padding: 1rem;

      i {
        position: relative;
        margin-top: 2rem;
        font-size: 3rem;
        display: block;
        text-align: center;
        transition: 0.2s;
        top: 0;
      }
    }

    &:hover {
      .hand-card { opacity: 0.4; }
      i { top: 3px;  }
      text-shadow: 0 1px 2px #333;
    }
  }

  @media (max-width: 768px) {
    .hand-card {
      margin-left: -85px;
    }
    .hand-card:first-child {
      margin-left: 0;
    }
  }

  .nameInput {
    font-size: 20px;
    width: 50%;
    min-width: 90%;
    margin: 15px;
    padding: 10px 2px;
    border-radius: 4px;
    text-align: center;
    border: 3px solid #222;
  }

  .rules {

  }

  .text-danger {
    text-shadow: 0 1px 1px rgba(0,0,0,0.8);
  }

  .playerActions {
    position: relative;
    background: rgba(0, 0, 0, 0.2);
    padding: 30px 15px;
    border-radius: 10px;
    border: 1px solid #222;
    margin-top: 15px;
  }
}
